<div class="row" id="row<%= comment.id %>">
  <div class="col-md-12">
    <div class="form-group">
      <b><%= comment.user.name_and_last_name %></b>
      <div id="rating_user_in_comment<%= comment.id %>" class="comment-username"></div>
      <% if can_delete_comment?(comment)%>
          <span class="pull-right">
            <%= link_to "#",id: "edit_comment#{comment.id}" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to book_comment_path(@book, comment),
                  method: :delete, data: { confirm: "Tem certeza disso?" },
                    remote: true do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
            <%= time_ago_in_words(comment.created_at) %> atrás
          </span>
      <% end %>
    </div>

    <%= form_for [@book, comment],
          :html => { :id => "form_edit_comment#{comment.id}"},
            remote: true do |f| %>
      <%= f.text_field :body, class: "form-control", id: "form_edit_comment_input#{comment.id}"%>
    <% end %>

    <p id="static-comment<%= comment.id %>"><%= comment.body %></p>

    <div>
      <% if user_signed_in? %>
          <div class="comment-options">
            <%= link_to t('actions.like'), comment_like_path(comment),id: "like-link#{comment.id}", :method=> :post, remote: true %>
          </div>
          <div class="comment-options">
            <a href="#" id="reply<%= comment.id %>"><%= t('actions.reply') %></a>
          </div>
      <% end %>

      <div id="amount_replys<%= comment.id %>" class="comment-options">
        <% if comment.has_children? %>
          <a href="#" id="allreplys<%= comment.id %>"> <%= amount_of_replys(comment) %></a>
        <% end %>
      </div>
      <div class="comment-options">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <div id="like<%= comment.id %>" style="display:inline"><%= comment.get_likes.size %></div>
      </div>
    </div>

    <% if user_signed_in? %>
      <div id="reply-comment<%= comment.id %>" class="reply-comment">
        <%= form_for Comment.new, url: reply_path( @book,comment ),
              remote: true do |f| %>
          <%= f.invisible_captcha :captcha %>
          <div class="form-group">
            <%= f.text_area :body, class: 'form-control',rows: '1', :id => "reply_to_comment#{comment.id}", placeholder:'Responder...'%>
          </div>
          <%= f.submit t('actions.reply') , class: 'btn btn-primary'%>
        <% end %>
      </div>
    <% end %>

    <div id="comment-replys<%= comment.id %>" class="reply-comment">
      <% comment.children.each do |comment_children| %>
        <%= render 'comments/comment_reply', comment_children: comment_children%>
      <% end %>
    </div>
  </div>
</div>
<hr>
