<tr>
  <td> <%= book.title %> </td>
  <td> <%= book.author %> </td>
  <td> <%= book.category.name %> </td>
  <td> <%= link_to 'Edit', edit_book_path(book) %> </td>
  <td> <%= link_to 'Remove', book, method: :delete, data: { confirm: "Are you sure?" } %> </td>
</tr>
