<h1>Edit Book</h1>
<hr>
<%= render 'form_errors', record:@book %>

<%= form_for @book ,:html => { :multipart => true },class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <iv>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ISBN %>
    <%= f.text_field :ISBN, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :language %>
    <%= f.select :language, Book::LANGUAGES,
              { include_blank: true }, { :class => 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category_id,
        Category.all.collect {|category| [ category.name, category.id ] },
              {include_blank: true}, { :class => 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :image_book %>
    <%= f.file_field :image_book %>
     <p class="help-block">Selecione uma imagem.</p>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows:"3", class:"form-control"%>
  </div>
  <%= f.submit 'Edit book',class: "btn btn-primary"%>
<% end %>
