<h1>Edit books</h1>
<%= render 'form_errors', record:@book %>

<%= form_for @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select :category_id, Category.all.collect {|category| [ category.name, category.id ] } %>
  </div>
  <div>
    <%= f.file_field :image_book %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Edit book'%>
<% end %>
