<h1>Manage Books</h1>
<%= render 'form_errors', record:@book %>

<%= form_for @book ,:html => { :multipart => true } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select :category_id, Category.all.collect {|category| [ category.name, category.id ] } %>
  </div>
  <div>
    <%= f.file_field :image_book %>
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Add book'%>
<% end %>

<br/><br/>
<% if @books && !@books.empty? %>
  <table border="1">
    <tr>
      <th> Title </th>
      <th> Author </th>
      <th> Category </th>
      <th> Edit </th>
      <th> Remove </th>
    </tr>
    <%= render @books %>
  </table>
<% end %>
