<h3><%= t('labels.book.title') %></h3>
<hr>
<%= render 'form_errors', record:@book %>
<div class="alert alert-info" role="alert">
  Antes de adicionar um novo livro, verifique se o mesmo já foi adicionado buscando no topo do site.
</div>

<%= form_for @book ,:html => { :multipart => true },class: "form-horizontal" do |f| %>
  <%= f.invisible_captcha :captcha %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group" id="isbn_field">
    <%= f.label :ISBN, id:'isbn_label' %>
    <%= f.text_field :ISBN, class: "form-control" %>
    <div class="checkbox">
      <label>
        <%= f.check_box :flgAsin,{ id:'check_asin' }, "true", "false" %>
        <span class="label label-info">Marque para ASIN da Amazon</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :language %>
    <%= f.select :language, Book::LANGUAGES,
              { include_blank: true }, { :class => 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :image_book, t('labels.book.image_book') %>
    <%= f.file_field :image_book %>
     <p class="help-block">Selecione uma imagem em boa definição para o livro.</p>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows:"3", class:"form-control"%>
  </div>
  <%= f.submit t('actions.add_book'),class: "btn btn-primary"%>
<% end %>
