
<script type="text/javascript">
  <%= render 'show.js.erb'%>
</script>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= @book.title %>
    </h1>
  </div>
</div>

<!-- /.row -->
<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.image_book.url(:medium) %>
    <% if user_signed_in? %>
      <div id="my_rating_book" style="margin-left: 84px;"></div>
    <% else %>
      <p>
        <%= link_to 'Logue para avaliar', new_user_session_path %>
      </p>
    <% end %>
  </div>

  <div class="col-md-8">
    <h3><%= @book.title %></h3>
    <h5><%= t('labels.book.by') %>: <i><%= @book.author %></i></h5>
    <h5><%= t('labels.book.language') %>: <%= @book.language %></h5>
    <h5><%= t('labels.book.isbn') %>: <%= @book.ISBN %></h5>
    <div style="display:inline-block">
      <span class="label label-success" id="note"></span>
      <div id="average_rating"></div>
      <%= link_to t('labels.ratings', :count => @book.ratings.count)%>
    </div>
    <p><%= @book.description %></p>
    <div class="form-group">
      <% if can_edit_book?(@book) %>
        <%= link_to edit_book_path(@book), class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-book"></span>
        <% end %>
      <% end %>
      <% if can?(:manage, :all) %>
        <%= link_to @book, class: 'btn btn-primary', method: :delete, data: { confirm: "Tem certeza que deseja remover esse livro ?" } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row"></div>
<div class="well">
  <% if user_signed_in?  %>
    <div class="text-left">
      <%= form_for [@book, @comment], remote: true do |f| %>
        <%= f.invisible_captcha :captcha %>
        <div class="form-group">
          <%= f.text_area :body, class: 'form-control', rows: '3', placeholder:'Deixe um comentário...'%>
        </div>
        <%= f.submit t('actions.post') , class: 'btn btn-primary'%>
      <% end %>
    </div>
  <% else %>
    <%= link_to 'Logue para comentar', new_user_session_path %>
  <% end %>
    <hr>
    <div id="comments">
      <%= render @book.root_comments %>
    </div>
</div>
