<script type="text/javascript">
  $(document).ready(function(){
    $('#my_rating_book').raty({
      score: '<%= @points_current_user %>',
      cancel: true,
      path: '/assets',
      click: function(score, evt) {
        $.ajax({
          url:'/books/<%= @book.id %>/ratings',
          type: 'POST',
          data: { points: score ? score : 0 }
        });
      }
    });

    $('#average_rating').raty({
      readOnly: true,
      score: '<%= @book.average_rating %>',
      path: '/assets'
    });
  });
</script>

<!-- Portfolio Item Heading -->
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">
        <%= @book.title %>
      </h1>
  </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row" style="height:430px">
  <div class="col-md-4">
    <%= image_tag @book.image_book.url(:medium) %>
    <% if user_signed_in? %>
      <div id="my_rating_book" style="margin-left: 84px;"></div>
    <% else %>
      <p>
        <%= link_to 'Logue para avaliar', new_user_session_path %>
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3><%= @book.title %></h3>
    <p>
      <div id="average_rating">
      </div>
      <%= link_to @book.amount_of_ratings %>
    </p>
    <p><%= @book.description %></p>
    <h3>Adquira o seu em:</h3>
    <div class="form-group">
      <%= select_tag "category",
          options_for_select(Category.all.collect {|category| [ category.name, category.id ] }),
        class:'btn dropdown-toggle btn-default' %>
    </div>
  </div>
</div>
<div class="well">
  <% if user_signed_in?  %>
    <div class="text-left">
      <%= form_for [@book, @comment] do |f| %>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control', rows: '3'%>
        </div>
        <%= f.submit 'Deixe um comentário' , class: 'btn btn-success'%>
      <% end %>
    </div>
  <% else %>
    <%= link_to 'Logue para comentar', new_user_session_path %>
  <% end %>
    <hr>
    <% @book.comments.each do |comment| %>
      <div class="row">
          <div class="col-md-12">
            <h4><%= comment.user.name_and_last_name %></h4>
            <span class="pull-right"><%= time_ago_in_words(comment.created_at) %> Ago</span>
            <p><%= comment.body %></p>
          </div>
      </div>
      <hr>
    <% end %>
</div>
