<h1>Editar Categorias</h1>
<%= render 'form_errors', record:@category %>

<%= form_for @category,class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit 'Editar categoria', class: "btn btn-primary" %>
<% end %>
