<h3>Gerenciar categorias</h3>
<hr>
<%= render 'form_errors', record:@category %>

<%= form_for @category,class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit 'Adicionar categoria', class: "btn btn-primary" %>
<% end %>

<br/><br/>
<% if @categories && !@categories.empty? %>
  <table class="table table-condensed">
    <tr>
      <th> Nome da categoria </th>
      <th> Editar categoria </th>
      <th> Remover categoria</th>
    </tr>
    <%= render @categories %>
  </table>
<% end %>
