<h1>Manager Categories</h1>
<hr>
<%= render 'form_errors', record:@category %>

<%= form_for @category,class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit 'Add category', class: "btn btn-primary" %>
<% end %>

<br/><br/>
<% if @categories && !@categories.empty? %>
  <table border="1">
    <tr>
      <th> Name </th>
      <th> Edit </th>
      <th> Remove </th>
    </tr>
    <%= render @categories %>
  </table>
<% end %>
