<!DOCTYPE html>
<html>
<head>
  <title>GoodBooks4Devs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div class="container">
    <header>
      <%= render 'layouts/nav'%>
      <% if notice %>
        <div class="alert alert-success fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= alert %>
        </div>
      <% end %>

    </header>
    <%= yield %>
    <%= yield :javascript_book_include %>
  </div>
</body>
</html>
